[Unit]
Description=System Montior Web UI
After=network.target

[Service]
User=USER
WorkingDirectory=/opt/system-dashboard
Environment="PATH=/opt/system-dashboard/venv/bin"
ExecStart=/opt/system-dashboard/venv/bin/python3 /opt/system-dashboard/app.py
Restart=on-failure
StandardOutput=/opt/system-dashboard/log.txt
StandardError=/opt/system-dashboard/error.txt


[Install]
WantedBy=multi-user.target
